body {
  font-family: Arial, sans-serif;
  background-color: #9292df;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

h1 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #070707;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4cae4c;
}

.equipment-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.equipment-item h3 {
  margin: 0;
  color: #333;
}

.equipment-item p {
  margin: 5px 0;
  color: #777;
}

.equipment-item button {
  align-self: flex-end;
  background-color: #d9534f;
}

.equipment-item button:hover {
  background-color: #c9302c;
}

.equipment-item .edit-button {
  background-color: #0275d8;
}

.equipment-item .edit-button:hover {
  background-color: #025aa5;
}

